{{- if eq .chezmoi.os "darwin" }}
tap "homebrew/bundle"
tap "homebrew/cask-fonts"
tap "romkatv/powerlevel10k"
tap "homebrew/cask-versions"

cask "1password"
cask "1password-cli"
# Does not work without Rosetta
# cask "adobe-acrobat-reader"
# cask "alacritty", args: { no_quarantine: true }
cask "alfred"
# cask "appcleaner"
cask "brave-browser"
cask "firefox"
cask "font-hack-nerd-font"
# cask "font-meslo-lg-nerd-font"
cask "font-sf-mono"
cask "iterm2"
cask "keepassxc"
cask "maccy"
# cask "macdown", args: { no_quarantine: true }
cask "microsoft-edge"
# cask "microsoft-excel"
# cask "microsoft-office"
# cask "microsoft-word"
cask "monitorcontrol"
# cask "obsidian"
# cask "onedrive"
cask "podman-desktop"
cask "rectangle"
# cask "sf-symbols"
cask "signal"
# cask "spotify"
# cask "steam"
cask "suspicious-package"
cask "tor-browser"
cask "visual-studio-code"

brew "ansible"
brew "ansible-lint"
brew "asdf"
brew "atuin"
brew "awscli"
brew "awsume"
brew "bat"
brew "chezmoi"
brew "direnv"
brew "fd"
brew "fzf"
brew "git"
brew "git-lfs"
brew "glab"
brew "go"
brew "helm"
brew "jq"
brew "kubectx"
brew "kubernetes-cli"
# brew "kubie"
# brew "lima"
brew "mas"
brew "minikube"
brew "neovim"
brew "pipx"
brew "pdm"
brew "podman"
# From romkatv/powerlevel10k
brew "powerlevel10k"
brew "pre-commit"
brew "pyenv"
brew "pyenv-virtualenv"
brew "ripgrep"
brew "smartmontools"
brew "sqlite"
brew "stern"
brew "telnet"
# brew "virtualenvwrapper"
brew "watch"
brew "yamllint"
brew "yq"
brew "zsh"
brew "zsh-autosuggestions"

# mas "xcode", id: 497799835
# mas "the-unarchiver" , id: 425424353
mas "tailscale", id: 1475387142
{{- if eq .location "work" }}

# Work machine specific stuff
cask "aws-vault"
cask "docker"
cask "keepingyouawake"
cask "keybase"
cask "tunnelblick"
cask "zoom"

brew "warrensbox/tap/tfswitch"
{{- end }}
{{- end }}
