{{- if eq .chezmoi.os "darwin" }}
# tap "homebrew/bundle"
# tap "homebrew/cask-fonts"
# tap "romkatv/powerlevel10k"
# tap "homebrew/cask-versions"

cask "1password"
cask "1password-cli"
# # Does not work without Rosetta
# cask "adobe-acrobat-reader"
# cask "appcleaner"
cask "font-atkynson-mono-nerd-font"
# cask "brave-browser"
cask "font-hack-nerd-font"
cask "font-sf-mono"
cask "ghostty"
# cask "iterm2"
# cask "keepassxc"
cask "maccy"
# cask "macdown", args: { no_quarantine: true }
# cask "microsoft-excel"
# cask "microsoft-office"
# cask "microsoft-word"
# cask "monitorcontrol"
# cask "onedrive"
cask "rectangle"
cask "soundsource"
# cask "suspicious-package"
cask "tor-browser"
cask "visual-studio-code"
# cask "warp"
# cask "zoom" # Installs as root, disabled because that sucks

brew "ansible"
brew "ansible-lint"
# brew "asdf"
brew "atuin"
# brew "awscli"
# brew "awsume"
# brew "aws-vault"
# brew "bat"
brew "chezmoi"
# brew "direnv"
brew "fd"
brew "fzf"
brew "git"
brew "git-lfs"
# brew "glab"
brew "gnupg"
# brew "go"
# brew "helm"
# brew "jq"
# brew "kubectx"
# brew "kubernetes-cli"
# brew "kubie"
brew "lazygit"
# brew "lima"
brew "mas"
# brew "minikube"
brew "neovim"
brew "pinentry-mac"
# brew "pipx"
# brew "pdm"
# brew "podman"
# brew "podman-compose"
# From romkatv/powerlevel10k
# brew "powerlevel10k"
# brew "pre-commit"
# brew "pyenv"
# brew "pyenv-virtualenv"
brew "ripgrep"
brew "smartmontools"
# brew "sqlite"
brew "starship"
# brew "stern"
brew "telnet"
# brew "virtualenvwrapper"
brew "watch"
brew "wget"
# brew "yamllint"
brew "ykman"
# brew "yq"
brew "zsh"
brew "zsh-autosuggestions"

# mas "xcode", id: 497799835
# mas "the-unarchiver" , id: 425424353

{{- if eq .location "home" }}

# Home machine specific stuff
mas "tailscale", id: 1475387142
mas "wireguard", id: 1451685025

# cask "microsoft-edge"
cask "firefox"
cask "yubico-authenticator"
{{- end }}

{{- if eq .location "work" }}

# Work machine specific stuff
cask "brave-browser"
cask "docker"
cask "keepingyouawake" 
cask "macdown", args: { no_quarantine: true }
cask "warp"

brew "terraform-docs"
brew "warrensbox/tap/tfswitch"

brew "asdf"
brew "awscli"
brew "aws-vault"
brew "bat"
brew "direnv"
brew "glab"
brew "go"
brew "helm"
brew "jq"
brew "kubectx"
brew "kubernetes-cli"
brew "minikube"
brew "pipx"
brew "pdm"
brew "pre-commit"
brew "pyenv"
brew "pyenv-virtualenv"
brew "sqlite"
brew "stern"
brew "yamllint"
{{- end }}
{{- end }}
