[user]
	name = "{{ .name }}"
	{{- if eq .location "work" }}
	email = "{{ .workemail }}"
	{{- else }}
	email = "{{ .personalemail }}"
	{{- end }}

[pull]
	rebase = false

[includeIf "gitdir:~/work/gitlab/primer-io/"]
	path = ~/.gitconfig-work

[includeIf "gitdir:~/work/github/primer-io/"]
	path = ~/.gitconfig-work

[includeIf "gitdir:~/Documents/Projects/"]
	path = ~/.gitconfig-home

[includeIf "gitdir:~/dotfiles/"]
	path = ~/.gitconfig-home

[includeIf "gitdir:~/.local/share/chezmoi/"]
	path = ~/.gitconfig-home

[core]
	editor = code --wait
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait $MERGED
