{{- if eq .chezmoi.os "darwin" -}}
#! /bin/sh

# .Brewfile hash: {{ include "dot_Brewfile.tmpl" | sha256sum }}
echo running brew bundle on change to Brewfile
/opt/homebrew/bin/brew bundle --file=~/.Brewfile
{{ end }}
