{{- if eq .location "home" }}
window-width = 210
window-height = 64
{{- end }}
{{- if eq .location "work" }}
window-width = 220
window-height = 64
{{- end }}
font-size = 12
font-family = "AtkynsonMono NFM"
keybind = shift+enter=text:\n
